          <div class="reviews-title strong">Reviews</div>
          <ul>

            <li class="common-activity-item">
              <div class="desc">Comment: {{comment}}</div>
              <div >By: {{email}}</div>
              <div>Rating: {{rating}}</div>

            </li>

          </ul>