          <div class="reviews-title strong">Reviews</div>
          <ul>
            <li class="common-activity-item">
              <div class="desc">This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.</div>
              <div class="user-name">By: User Name</div>
            </li>
            <li class="common-activity-item">
              <div class="desc">This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.</div>
              <div class="user-name">By: User Name</div>
            </li>
          </ul>