<script>
	window.onload=function(){
		
	}

</script>

<div>
    {{!-- <div id="bg">
      <img src="../../public/assets/homepic.jpg">
    </div> --}}
    <div class="mask"></div>
    <div class="container-main userProfile dashboard clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="common-info user-info">
          <ul>
            <li class="strong">User Name</li>
            <li>Location: </li>
            <li>Jane Doe</li>
            <li>Date of Birth: </li>
          </ul>
        </div>
        <div class="recent-content">
          <div class="recent-reviews box-border">
            <div class="top-title">Recent Reviews</div>
            <div class="recent-reviews-list">
              <ul>
                <li class="recent-review-item">
                    This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.
                  </li>
                  <li class="recent-review-item">
                    This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.
                  </li>
                  <li class="recent-review-item">
                    This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.
                  </li>
                  <li class="recent-review-item">
                    This is the best beer out there. The sour taste is for sure an aquired taste, but I find it delicious and strong enough to just sip.
                  </li>
                </ul>
            </div>
            <div class="page-turner">
              <span class="btn pre"> < </span>
              <span>1</span>
              <span class="btn next"> > </span>
            </div>
          </div>
          <div class="recent-beer-submissions box-border">
            <div class="top-title">
              Recent Beer Submissions
              <div class="diamond">
                <span class="arrow-up"></span>
                <span class="arrow-bottom"></span>
              </div>
            </div>
            <div class="submissions-list">
              <ul>
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong">Beer Name</div>
                    <div class="beer-filed">Brewing Company</div>
                  </div>
                  <div class="beer-grade">
                    1/5
                  </div>
                </li>
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong">Beer Name</div>
                    <div class="beer-filed">Brewing Company</div>
                  </div>
                  <div class="beer-grade">
                    2/5
                  </div>
                </li>
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong">Beer Name</div>
                    <div class="beer-filed">Brewing Company</div>
                  </div>
                  <div class="beer-grade">
                    3/5
                  </div>
                </li>
                <li class="beer-item-box clearfix">
                  <div class="beer-info">
                    <div class="beer-filed strong">Beer Name</div>
                    <div class="beer-filed">Brewing Company</div>
                  </div>
                  <div class="beer-grade">
                    3/5
                  </div>
                </li>
              </ul>
            </div>
            <div class="page-turner">
              <span class="btn pre"> < </span>
              <span>1</span>
              <span class="btn next"> > </span>
            </div>
          </div>
        </div>
          
      </div>
      <div class="beer-content-common userProfile-right">
        <div class="top-title strong">
          UserName‘s Choice
        </div>
        <div class="choice-list">
          <ul>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
   
</div>
