<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Beer Tracker</title>
{{!-- css files --}}
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/message.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1117508_wxidm5ry7od.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/public/js/common.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    {{!-- <script src="https://cdnjs.com/libraries/handlebars.js"></script> --}}
</head>

<body>
    <header>
        <div class="topnav">
            <img id="logo" src="../../public/assets/beer logo.png">
            <a id= "websiteName"href="/">Beer Tracker</a>
            <div class="signUpLoginNav">
                <a href="/signUpLogin">Sign Up or Login</a>
            </div>
        </div>
    <header>
    <main id="app">
        {{{body}}}
    </main>
</body>
</html>