<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Beer Tracker</title>
{{!-- css files --}}
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    {{!-- <script src="https://cdnjs.com/libraries/handlebars.js"></script> --}}
</head>

<body>

        {{{body}}}
</body>
</html>