
    <header>
        <div class="topnav">
            <img id="logo" alt="logo" src="../../public/assets/beerLogo.png">
            <a id= "websiteName" href="/">Beer Tracker</a>
                <div class="signUpLoginNav">
                <a href="/beers/beersList">Beers</a>   
                <a href="/dashBoard">DashBoard</a>
                <a href="/signUpLogin/logout">Logout</a>
            </div>
        </div>
    </header>


<div>
    <div id="bg">
    </div>
    <div class="wrapper">
        <div class="search_box">
            <form action="beers/beersList/search" method="POST">
                <label id='beer_search'><input id='beer_search' type="text" name= 'beer_search' placeholder="Search for a Beer..."></label>
                <button type="submit" class="fa-search">Search</button>
            </form>
        </div>
    </div>
</div>
