<div>
    <div id="bg">
    </div>
    <div class="wrapper">
        <div class="search_box">
            <input type="text" placeholder="Search for a Beer or Brand...">
            <i class="fas fa-search"></i>
        </div>
    </div>
</div>
