
    <header>
        <div class="topnav">
            <img id="logo" alt="logo" src="../../public/assets/beerLogo.png">
            <a id= "websiteName" href="/">Beer Tracker</a>
                <div class="signUpLoginNav">
                <a href="/beers/beersList">Beers</a>
                <a href="/signUpLogin">Sign Up or Login</a>
            </div>
        </div>
    </header>


<div>
    <div id="bg">
    </div>
    <div class="wrapper">
        <div class="search_box">
            <form action="beers/beersList/search" method="POST">
                <input type="text" name= 'beer_search' placeholder="Search for a Beer...">
                <button type="submit" class="fas fa-search">Search</button>
            </form>
        </div>
    </div>
</div>
