
    <header>
        <div class="topnav">
            <img id="logo" src="../../public/assets/beer logo.png">
            <a id= "websiteName"href="/">Beer Tracker</a>
                <div class="signUpLoginNav">
                <a href="/beers/beersList">Beers</a>   
                <a href="/dashBoard">DashBoard</a>
                <a href="/signUpLogin/logout">logout</a>
            </div>
        </div>
    </header>


<div>
    <div id="bg">
    </div>
    <div class="wrapper">
        <div class="search_box">
            <input type="text" placeholder="Search for a Beer or Brand...">
            <i class="fas fa-search"></i>
        </div>
    </div>
</div>
