<script>
	window.onload=function(){
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});
	}

</script>
    <header>
        <div class="topnav">
            <img id="logo" src="../../public/assets/beer logo.png" alt="beerLogo">
            <a id= "websiteName"href="/">Beer Tracker</a>
                <div class="signUpLoginNav">
            </div>
        </div>
    </header>
<div>
    <div id="bg">
       </div>
    <div class="mask"></div>
    <div class="signUpLogin">
        <div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/signUplogin/signUp" method = 'POST' id = 'signUp_form'>
			<h1>Create Account</h1>
			<label for='email'>
				<input type="email" id = 'email' name='email' placeholder="Email" />
			</label>
			<label for='password'>
			<input type="text" id='password' name='password'placeholder="Password" />

			</label>
			<label for='firstName'>
			<input type="text" id='firstName' name='firstName' placeholder="First Name" />
			</label>
			<label for='lastName'>
			<input type="text" id='lastName' name='lastName' placeholder="Last Name" />

			</label>
			<label for='city'>
			<input type="text" id='city' name='city' placeholder="City" />

			</label>
			<label for= 'city'>
			<input type="text" id = 'city' name='state' placeholder="State" />

			</label>
			<label for = 'country'>
			<input type="text" id='country' name='country'placeholder="Country" />

			</label>

			<button type='submit'>Sign Up</button>
                 {{#if hasError}}
                  <ul>
                    {{#each error}}
                    <li>
                      {{this}}
                    </li>
                    {{/each}}
                  </ul>
                  {{/if}} 
		</form>

	</div>
	<div class="form-container sign-in-container">
		<form action="/signUpLogin/login" method="POST" id = 'login_form'>
			<h1>Sign in</h1>

			<span>or use your account</span>
			<label>
				<input type="email" name = 'email' placeholder="Email" />
			</label>
			<label>
				<input type="text" name = 'password'placeholder="Password" />
			</label>
			
                 {{#if hasErrors}}
                  <ul>
                    {{#each errors}}
                    <li>
                      {{this}}
                    </li>
                    {{/each}}
                  </ul>
                  {{/if}} 
			<a href="#">Forgot your password?</a>
			<button type='submit'> Sign In</button>
		</form>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>Back and Buzzed? please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello!</h1>
				<p>Enter your personal details and start drinking!</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
    </div>
</div>
