<script>
	window.onload=function(){
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});


	$('#loginForm').bootstrapValidator({
      fields: {
        "email": {
          validators: {
            notEmpty: {
              message: 'The email is required and cannot be empty'
            }
          }
        },
        "pwd": {
          validators: {
            notEmpty: {
              message: 'The password is required and cannot be empty'
            }
          }
        },
        
      }
    });

		$('#registerForm').bootstrapValidator({
      fields: {
        "name": {
          validators: {
            notEmpty: {
              message: 'The name is required and cannot be empty'
            }
          }
        },
        "email": {
          validators: {
            notEmpty: {
              message: 'The email is required and cannot be empty'
            }
          }
        },
				"pwd": {
          validators: {
            notEmpty: {
              message: 'The password is required and cannot be empty'
            }
          }
        },
        
      }
    });


	}

</script>

<div>
    {{!-- <div id="bg">
        <img src="../../public/assets/homepic.jpg">
    </div> --}}
    <div class="mask"></div>
    <div class="signUpLogin">
        <div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#" id="registerForm" method="post">
			<h1>Create Account</h1>
			<div class="form-group">
				<input type="text" placeholder="Name" name="name"/>
			</div>
			<div class="form-group">
				<input type="email" placeholder="Email" name="email"/>
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" name="pwd"/>
			</div>
			<button id="signUpBtn" type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#" id="loginForm" method="post">
			<h1>Sign in</h1>

			<span>or use your account</span>
			<div class="form-group">
				<input type="email" placeholder="Email" name="email"/>
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" name="pwd"/>
			</div>
			<a href="#">Forgot your password?</a>
			<button id="signInBtn" type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>Back and Buzzed? please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello!</h1>
				<p>Enter your personal details and start drinking!</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
    </div>
</div>
