<script>
	window.onload=function(){
		
	}

</script>

<div>
    <div id="bg">
        <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main beersList">
      <div class="beerList-common beersList-left">
        <div class="beers-list-query">
          <div class="search_box">
            <input type="text" placeholder="Search for a Beer or Brand...">
            <i class="fas fa-search"></i>
          </div>
          or
          <button>Submit New Beer</button>
        </div>
        <div class="beers-list-content">
          <ul>
            <li class="beer-item-box">
              <div class="beer-left">
                <div class="beer-filed">
                  Beer Name
                </div>
                <div class="beer-filed">
                  Brewing Company
                </div>
                <div class="beer-filed">
                  Toste profile
                </div>
              </div>
              <div class="beer-right">
                <div class="beer-filed">
                  ABV: 5%
                </div>
                <div class="beer-filed">
                  User Ratings: 4.5/5
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="beerList-common beersList-right">

      </div>
    </div>
</div>
