<script>
	window.onload=function(){
		
	}

</script>

<div>
    <div id="bg">
      <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main userProfile clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="user-info"></div>
        <div class="recent-activity-list">
          <ul>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="beer-content-common userProfile-right">

      </div>
    </div>
   
</div>
