<script>
	window.onload=function(){
		
	}

</script>

<div>
    <div id="bg">
      <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main userProfile clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="user-info">
          <ul>
            <li class="strong">User Name</li>
            <li>Location: </li>
            <li>Jane Doe</li>
            <li>Date of Birth: </li>
          </ul>
          <button class="btn">Follow User Name</button>
        </div>
        <div class="recent-activity-list">
          <ul>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="beer-content-common userProfile-right">
        <div class="top-title strong">
          UserName‘s Choice
        </div>
        <div class="choice-list">
          <ul>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
   
</div>
