<script>
	window.onload=function(){
		
	}

</script>

    <header>
        <div class="topnav">
            <img id="logo" src="../../public/assets/beer logo.png">
            <a id= "websiteName"href="/">Beer Tracker</a>
                <div class="signUpLoginNav">
                <a href ="/beers/beersList">Beers</a>
                <a href="/signUpLogin">Sign Up or Login</a>
            </div>
        </div>
    </header>

<div>
    <div id="bg">
     </div>
    <div class="mask"></div>
    <div class="container-main userProfile userSubmission clearfix">
      <div class="beer-content-common userProfile-left">
        <div class="beer-info-user">
          <form action="beerSubmission" method="POST">
            <input type="text" name = "name" placeholder="Beer Name" />
            <input type="text" name = "type"placeholder="Beer Type" />
            <input type="number" name = "abv" placeholder="ABV: 5.4%" />
            <input type="text" name = "malt" placeholder="Malts, please separate by comma" />
            <input type="text" name = "hops" placeholder="hops">
            <input type="text" name = "notes" placeholder="notes">
            <button type='submit'>Submit</button>
          </form>
                 {{#if hasErrors}}
                  <ul class="error-list">
                    {{#each errors}}
                    <li>
                      {{this}}
                    </li>
                    {{/each}}
                  </ul>
                  {{/if}} 
        </div>
        <div class="activity-list-title strong">Leave A Review</div>
        <div class="leave-review-box">
          <div class="text-content">
            <textarea name="" id="" rows="5"></textarea>
          </div>
          <div class="handle-box">
            <div class="rate-box">
              <div class="rate-num">{{rateNum}}/5</div>
              <div class="diamond">
                <span class="arrow-up" id="arrowUp"></span>
                <span class="arrow-bottom" id="arrowDown"></span>
              </div>
            </div>
            <button class="submit-btn">Submit Review</button>
          </div>
        </div>
      </div>
      <div class="beer-content-common userProfile-right">
        <div class="top-title strong">
          developers‘s Choice
        </div>  
        <div class="choice-list">
          <ul>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
   
</div>
