<script>
	window.onload=function(){
    const arrowUpBtn = document.getElementById('arrowUp');
    const arrowDownBtn = document.getElementById('arrowDown');
    const rateNum = document.getElementById('rateNum');
    const upClass = arrowUpBtn.getAttribute('class');
    const submitBtn = document.getElementById('submitBtn');
    document.getElementById('beerInfo').addEventListener('submit',function(e){
      e.preventDefault();
    });
    arrowUpBtn.addEventListener('click', () => {
      let num = +rateNum.innerText;
			if (num < 5) {
        rateNum.innerText = num + 0.5
        arrowDownBtn.classList.remove("disabled");
      } else {
        arrowUpBtn.classList.add("disabled");
      }
		});

    arrowDownBtn.addEventListener('click', () => {
      let num = +rateNum.innerText;
      if (num == 5) {
        arrowUpBtn.classList.remove("disabled");
      }
      num = num - 0.5
			if (num >= 0) {
        rateNum.innerText = num
        num <= 0 && arrowDownBtn.classList.add("disabled");
      }
		});

    $('#beerInfo').bootstrapValidator({
      message: 'fhkefhkefe',
      fields: {
        "beerName": {
          validators: {
            notEmpty: {
              message: 'The beer name is required and cannot be empty'
            }
          }
        },
        "abv": {
          validators: {
            notEmpty: {
              message: 'The abv is required and cannot be empty'
            }
          }
        },
        "hops": {
          validators: {
            notEmpty: {
              message: 'The Brewing Company is required and cannot be empty'
            }
          }
        },
        "type": {
          validators: {
            notEmpty: {
              message: 'The Taste Profile is required and cannot be empty'
            }
          }
        },
        "reviewText": {
          validators: {
            notEmpty: {
              message: 'The review is required and cannot be empty'
            }
          }
        },
      }
    });

    $('#submitBtn').click(function() {
      $('#beerInfo').bootstrapValidator('validate');
      // $('#beerInfo').data('bootstrapValidator').resetForm(true);
    });

    

   
    
  }

</script>

<div>
    <div id="bg">
      <img src="../../public/assets/homepic.jpg">
    </div>
    <div class="mask"></div>
    <div class="container-main userProfile userSubmission clearfix">
      <div class="beer-content-common userProfile-left">
        <form action="/beers/add" id="beerInfo" method="post">
          <div class="beer-info-user">
            <div class="form-group">
              <input type="text" placeholder="Beer Name" name="beerName"/>
            </div>
            <div class="form-group">
              <input type="text" placeholder="ABV: 5.4%" name="abv"/>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Brewing Company" name="hops"/>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Taste Profile" name="type">     
            </div>
                       
          </div>
          <div class="activity-list-title strong">Leave A Review</div>
          <div class="leave-review-box form-group">
            <div class="text-content form-group">
              <textarea name="reviewText" id="" rows="5"></textarea>
            </div>
            <div class="handle-box">
              <div class="rate-box">
                <div class="rate-num"><span id="rateNum" name="rate">3</span>/5</div>
                <div class="diamond">
                  <span class="arrow-up tete" id="arrowUp"></span>
                  <span class="arrow-bottom" id="arrowDown"></span>
                </div>
              </div>
              <button class="submit-btn" id="submitBtn">Submit Review</button>
            </div>
          </div>
        </form>
      </div>
      <div class="beer-content-common userProfile-right">
        <div class="top-title strong">
          developers‘s Choice
        </div>  
        <div class="choice-list">
          <ul>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
            <li class="beer-item-box clearfix">
              <div class="beer-filed strong">Beer Name</div>
              <div class="beer-filed">Brewing Company</div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
   
</div>
